<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{title}} </title>
        {% else %}
        <title>Home</title>
        {% endif %}
    </head>
    <body>
        <h2> {{message}} </h2>

        <!-- Popular Movie Section -->
        <h3>Popular Movies</h3>
        {% for popular_movie in popular %}
        <p> {{popular_movie.title}} </p>
        {% endfor %}
        

        <!-- Upcoming Movie Section -->
        <h3>Upcoming Movies</h3>
        {% for upcoming_movies in upcoming %}
        <p> {{upcoming_movies.title}} </p>
        {% endfor %}
        

        <!-- Now Showing Movie Section -->
        <h3>Now-Showing Movies</h3>
        {% for now_showing_movies in now_showing %}
        <p> {{now_showing_movies.title}} </p>
        {% endfor %}
        
    </body>
</html>
